    @font-face {
        font-family: Neor;
        src: url('../fonts/Neor.otf');
    }
    
    @font-face {
        font-family: combat;
        src: url('../fonts/Combat.otf');
    }
    
    @font-face {
        font-family: BelfastGroteskBold;
        src: url('../fonts/BelfastGroteskSemiBold.ttf');
    }



    .nav-link {
        margin-right: 1.5em !important;
        color: #fff;
        font-weight: bold;
        line-height: 1;
        font-size: 1.8em;
        padding: 0px;
    }
    

    .nav {
        background: #5d0e0e00 !important;
        color: #fff !important;
        border: 1px solid;
        border-radius: 2em;
    }

    #navBar {
        height: 5.5vh;
        opacity: 0;
    }
    
    .nav-text {
        font-family: combat;
    }

    .nav-gift {
        background: #00000096;
        display: flex;
        position: absolute;
        width: 102%;
    }


    .home-gift {
        font-family: Neor !important;
        font-size: 2em !important;
        text-align: center;
        width: 100%;
        padding: 0;
        line-height: 1;
        color: #BFFF72;
    }

    .item-nav-gift:hover {
        color: #ff3062 !important;
    }