.box-social {
    display: block;
    position: fixed;
    left: 94%;
    top: 15%;
    z-index: 9999999;
}

.btn {
    border-radius: 100%;
    padding: 10.5px;
    background-color: transparent !important;
    border-color: #717171 !important;
}

.icon-social {
    width: 45px;
}